* {
  font-family: 'spartan';
}
.container {
  text-align: center;
  height: 84vh;
  margin: 0 auto;
  font-size: 15px;
}
header {
  margin: 5rem 0 2rem 0;
}
h1 {
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  font-size: 30px;
  padding: 0 1rem;
}
header p {
  padding: 0 0.6rem;
  line-height: 28px;
  font-weight: 500;
  color: hsl(303, 10%, 53%);
}
/* rate */
.rate {
  color: hsl(300, 43%, 22%);
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.rate1,
.rate2,
.rate3 {
  padding: 1rem;
}
.rate p {
  margin: 0.7rem;
}

/* cards */
.cards {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 13px;
  margin: 3rem 1rem 4rem 1rem;
}
.cards [class*='card'] {
  background-color: hsl(300, 43%, 22%);
  color: hsl(300, 24%, 96%);
  margin: 0.5rem 0;
  padding: 15px 25px;
  border-radius: 15px;
  font-weight: 400;
  line-height: 25px;
}

.cards .p2 {
  margin-top: 0;
}
.profile {
  display: flex;
  align-items: center;
}
.profile .p1 {
  font-weight: 700;
  margin: 20px;
}
.profile span {
  font-weight: 500;
  color: hsl(333, 80%, 67%);
}
.profile img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

@media (min-width: 800px) {
  
html {
  overflow: hidden;
}
  .container {
    padding: 6rem 6rem 0 6rem;
    overflow: hidden;
  }
  .text-wrap {
    display: flex;
    justify-content: space-between;
    height: 40vh;
  }
  header {
    margin-top: 0;
    width: 30vw;
    text-align: left;
  }
  header h1 {
    font-size: 40px;
    margin: 0;
  }
  /* rate */
  .rate {
    width: 40vw;
    display: flex;
  }
  .rate1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .rate2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .rate3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .rate img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }
  /* cards */
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    height: 40vh;
  }
  .cards [class*='card'] {
    margin: 0 0.5rem;
    padding-bottom: 2rem;
  }
  .card1 {
    align-self: flex-start;
  }
  .card2 {
    align-self: center;
  }
  .card3 {
    align-self: flex-end;
  }
}
